{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form action="{% url 'teamsave' %}" method='POST'>
     {% csrf_token %}   
        <label for="date">Vyber datum:</label>
        <br>
        <input type="date" id="date" name="date">
        <br>
        <label for="penalty">Vyber pokutu:</label>
        <select class="dropdown-header" name="penalty" id="penalty" required=True>
        <option class="dropdown-item" value="">--Prosím vyber pokutu--</option> 
            {% for x in pokuty %}
            <option class="dropdown-item" value={{x.pk}} >{{x.name}}
            {% endfor %}
        </select>
        <br>
        <br>
        {% for user in users  %}
            <input class="custom-checkbox" type="checkbox" name='user' value={{user.id}}> {{user.first_name}} {{user.last_name}}</input>
            <br>
        {% endfor %}
        <br>
        <input type="submit" class="btn-block" value="Uložit"/>
    </form>
</div>

{% endblock %}